<div [class]="selectedTheme">

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Application Home</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/home'" routerLinkActive="active"> Home</a>
        <a mat-button [routerLink]="'/operators'" routerLinkActive="active"> Operators</a>
      </div>
      <div style="margin-left: 900px;">

      <button mat-button (click)="onFirstTheme()"> Theme1</button>
      <button mat-button (click)="onSecondTheme()"> Theme2</button>
      <button mat-button (click)="onThirdTheme()"> Theme3</button>
      <button mat-button (click)="onFourthTheme()"> Theme4</button>
      </div>
    </mat-toolbar-row>
 
</mat-toolbar>

</div> 
  
<router-outlet></router-outlet>